<!-- @model PostViewModel -->

@model List<Post>

<div class="row">
    <div class="col-lg-8">
        <div class="bg-white p-4">
            <h1 class="h4 mb-4">Popular Posts</h1>
            @foreach(var item in Model)
            {
                <div class="card bg-transparent border-0 mb-3">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/img/@item.Image" class="img-fluid rounded" alt="">
                        </div>
                        <div class="col-8">
                            <h5><a href="/posts/@item.Url" class="btn-link fw-bold">@item.Title</a></h5>
                            <p>@item.Content</p>
                            <a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">Web Development</a>
                        </div>
                    </div>
                </div>
                <hr class="my-3">
            }
            <nav >
                <ul class="pagination">
                    <li class="page-item"><a class="page-link"  href="">1</a></li>
                    <li class="page-item"><a class="page-link"  href="">2</a></li>
                    <li class="page-item"><a class="page-link"  href="">3</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-lg-4">
      <vc:tags-menu></vc:tags-menu>
      <vc:posts-menu></vc:posts-menu>
    </div>
</div>

   
